.git
.github
.idea
.DS_Store
.env
.zeus
.zeus-linux-acceptance
.zeus-container-build.*
.cache
.playwright-cli
.turbo
.pnpm-store
**/.svelte-kit
**/*.rs.bk
**/build
**/dist
**/mutants.out*
**/node_modules
node_modules
debug
dist-ssr
target
zeus-container-build.*
*.log
*.local
*.pdb
